*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.sublime-workspace
.*
.Python
.python-version
.ipynb_checkpoints
*-mxdev.txt
__pycache__
env
data
# exclude
!.gitattributes
!.gitignore
/development-local.ini

# Ignore build folder
build
/GITHUB_TOKEN
/lib
/share
/bin
/etc/jupyter/jupyter_notebook_config.d/jupyterlab.json
/include
/elasticsearch
/local/
/pip-selfcheck.json
/results.json
/venv38
/typesense-data.tar.gz
