*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.sublime-workspace
.*
.Python
.python-version
.ipynb_checkpoints
__pycache__
env
data
# exclude
!.gitattributes
!.gitignore
/development-local.ini

# Ignore build folder
build